<% layout('/layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Book</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/books" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" class="form-control" name="book[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Book Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="price"
                            name="book[price]" aria-describedby="price-label" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="book[description]" id="description" class="form-control" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="custom-file mb-3">
                    <label for="image" class="form-label">Choose Image(s)...</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                    <label for="image" class="custom-file-label text-muted"></label>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Book</button>
                </div>

            </form>
            <a href="/books">All Books</a>

        </div>
    </div>
    </form>