<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">YelpBooks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " href="/">Home</a>
        <a class="nav-link" href="/books">Books</a>
        <a class="nav-link" href="/books/new">New Book</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){ %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% }else{ %>
            <a class="nav-link" href="/logout">Logout</a>
            <a href="/checklist" class="nav-link d-none d-lg-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" id="user"><path fill="#fff" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Zm3-12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 7a7.489 7.489 0 0 1 6-3 7.489 7.489 0 0 1 6 3 7.489 7.489 0 0 1-6 3 7.489 7.489 0 0 1-6-3Z" clip-rule="evenodd"></path></svg>
            </a>
            <a href="/checklist" class="nav-link d-flex d-lg-none">
              User Profile
            </a>
            <% } %>

      </div>
    </div>
  </div>
</nav>